body {
  font-family: 'Oswald';
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  }
  
.logo{
    width: 80px;
    border: 2px solid #165732;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.header {
    background-color: #f8f9fa;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.header-container {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-brand {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.header-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2E8B57 ;
    text-decoration: none;
}

.nav-list {
    display: flex; 
    list-style: none;
    gap: 1.5rem; 
}

.nav-item a {
    color: #165732;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    white-space: nowrap; 
}

.nav-item a:hover {
    color: #007bff;
}

.pagina {
    min-width: 800px;
    max-width: 2000px;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block; 
}


.btn-login {
    background-color: transparent;
    border: 2px solid #165732; 
    color: #165732; 
}

.btn-login:hover {
    background-color: #165732;
    color: #ffffff; 
}


.btn-register {
    background-color: #2E8B57; 
    border: 2px solid #2E8B57;
    color: #ffffff; 
}

.btn-register:hover {
    background-color: #165732; 
    border-color: #165732;
}

.btn-brand {
    font-size: 4.5rem;
    margin-top: 30px;
}