{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <title>{% block title %}Impulse Esporte{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>


<body>
    <header class="header, pagina">
        <div class="header-container">
            <!-- Logo ou nome do site à esquerda -->
            <div class="header-brand">
                <img src="{% static 'icones/logoImpulse.png' %}" class="logo">
                <a href="/">Impulse Esporte</a>
            </div>
            
            <!-- Itens de navegação à direita -->
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/sobre">Sobre</a></li>
                    <li class="nav-item"><a href="/servicos">Serviços</a></li>
                    <li class="nav-item"><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Conteúdo principal da página -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>


</html>
