{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
    <title>{% block title %}Impulse Esporte{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>


</body>

</html>
