{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <title>{% block title %}Impulso Esporte{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>


<body>
    {% include 'headers/headerPadrao.html' %}

    <main class="main-container">
        {% block content %}
        <section class="hero-banner">
            <div class="banner-content">
                <h1>CONECTANDO TALENTOS ESPORTIVOS A OPORTUNIDADES</h1>
                <p class="banner-subtitle">Encontre patrocínios para seu esporte ou descubra talentos para sua marca</p>
            </div>
        </section>
        {% endblock %}
    </main>
    
    <div>
        <div class="info-box">
            <h2>O que oferecemos?</h2>
            <p>
                Um ambiente para conectar atletas e equipes com empresas partrocinadoras, com foco em esportes menos conhecidos. Esses podem inclui: Rugby, Canoagem, Críquete, Basebol e Skate.
            </p>
        </div>
    </div>

</body>


</html>