{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <title>{% block title %}Impulso Esporte{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}?v=2">>
    
</head>


<body>
    {% include 'headers/headerPadrao.html' %}

    <form action="{% url 'buscar_times' %}" method="get" class="search-bar" style="max-width: 500px; margin: 40px auto 30px auto; display: flex;">
        <input type="text" name="q" placeholder="Buscar time pelo nome..." class="form-control" style="flex:1; padding: 12px; border-radius: 6px 0 0 6px; border: 1.5px solid #d1d5db;">
        <button type="submit" class="btn-submit" style="border-radius: 0 6px 6px 0; padding: 0 24px;">Buscar</button>
    </form>

    <main class="main-container">
        {% block content %}
        <section class="hero-banner">
            <div class="banner-content">
                <h1>CONECTANDO TALENTOS ESPORTIVOS A OPORTUNIDADES</h1>
                <p class="banner-subtitle">Encontre patrocínios para seu esporte ou descubra talentos para sua marca</p>
            </div>
        </section>
        {% endblock %}
    </main>
    
    <div>
        <div class="info-section">
            <div class="info-box">
                <h2>O que oferecemos?</h2>
                <p>
                    Um ambiente para conectar atletas e equipes com empresas partrocinadoras, com foco em esportes menos conhecidos. Esses podem inclui: Rugby, Canoagem, Críquete, Basebol e Skate.
                </p>
            </div>
            
            <div class="action-buttons">
                <a href="{% url 'lista_atletas' %}" class="action-btn">
                    <span class="btn-icon">👤</span>
                    VER ATLETAS
                </a>
                <a href="{% url 'lista_equipes' %}" class="action-btn">
                    <span class="btn-icon">🏆</span>
                    VER EQUIPES
                </a>
            </div>
        </div>
    </div>

</body>


</html>